<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.dao.TbOrderMapper">
  <resultMap id="BaseResultMap" type="com.moon.entity.TbOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="owner_account" jdbcType="VARCHAR" property="ownerAccount" />
    <result column="endprice" jdbcType="DECIMAL" property="endprice" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="createdtime" jdbcType="TIMESTAMP" property="createdtime" />
  </resultMap>
</mapper>